.settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    background-color: #3B3939;
  }
  
  .profile-picture {
    margin-bottom: 20px;
  }
  
  .account-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 65px;
    background-color: #826A99;
    opacity: 0.55;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .email {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
    align-items: center;
    font-family: 'Sanchez', sans-serif;
  }

  .my-account-button {
    background-color: #5D2E8C;
    cursor: pointer;
    opacity: 0.52;
    border-radius: 10px;
    border: none;
    padding: 24px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .button-text {
    font-family: 'Sahitya', serif;
    color: #fff;
    margin-left: 10px;
    font-size: 22px;
  }

  .button-container{
    border-top: 2px solid rgba(0, 0, 0, 0.16);
    padding-top: 60px;
    padding-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    background-color: #3B3939;
  }

  .remainder-container {
    border-top: 2px solid rgba(0, 0, 0, 0.16);
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    background-color: #3B3939;
  }
  
  .remainder-wrapper {
    display: flex;
    align-items: center;
    background-color: #5D2E8C;
    opacity: 0.52;
    border-radius: 5px;
    padding: 10px;
    padding-right: 90px;
  }

  .notification-wrapper {
    display: flex;
    align-items: center;
    background-color: #5D2E8C;
    opacity: 0.52;
    border-radius: 5px;
    padding: 10px;
    padding-right: 79px;
  }
  
  .remainder-text {
    font-family: 'Sahitya',serif;
    font-size: 22px;
    color: #fff;
    margin-right: 350px;
    margin-left: 10px;
  }
  
  .toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: auto;
  }
  
  .toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #251E1E;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #5D2E8C;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #b693d8;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #5D2E8C;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .log-out-container{
    border-top: 2px solid rgba(0, 0, 0, 0.16);
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #3B3939;
  }

  .log-out-button{
    background-color: #8c19ffcc;
    cursor: pointer;
    opacity: 0.52;
    border-radius: 10px;
    border: none;
    padding: 24px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .log-out-text{
    font-family: 'Sahitya', serif;
    color: #ffcdcd;
    margin-left: 10px;
    font-size: 24px;
  }