.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5D2E8C;
  height: 75px;
  width: 100%;
  padding: 0 20px;
}

.logo-text {
  font-size: 1.5rem;
  font-family: 'Sedan SC', serif;
  color: white;
  text-decoration: none;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.link {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Sahitya', serif;
}
